.todoView {
    display: flex;
    flex: 1;
    flex-direction: column;
    background-color: aliceblue;
    height: 100vh;
    align-items: center;
}

.todoViewTitle {
    color: rgb(6, 34, 217);
}

.todoItemWrapper {
        display: flex;
        flex-direction: row;
        width: 400px;
        margin: 10px;
        background-color: rgb(6, 34, 217);
        border-color: blue;
        border-width: 0.5;
        padding: 10px;
        border-radius: 10px;
        justify-content: space-between;
}

.todoInfo {
        flex-direction: column;
        justify-content: center;
}

.todoTitle {
        font-weight: bold;
        font-size: 16px;
        color: #ffffff;
}

.todoDesc {
        font-weight: normal;
        font-size: 12px;
        color: #ffffff;
}

.todoCTAWrapper {
        flex-direction: row;
}

.editWrapper { 
        display: flex;
        flex: 1;
        width: 400px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-self: center;
}

.editCTAWrapper {
        flex-direction: row;
        margin-top: 5px;
}

.addNewTodoWrapper {
        display: flex;
        width: 400px;
}

.addNewTodoContainer {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    padding: 10px;
    min-width: 400px;
    border-radius: 10px;
    background-color: rgb(6, 34, 217);
    align-items: center;
}

.todoStatus {
    font-weight: bold;
    font-size: 12px;
    float: right;
    margin-right: 10px;
}