.buttonContainer {
    display: flex;
    padding: 5px 20px 5px 20px;
    margin: 5px;
    background-color: rgb(250, 234, 1);
    height: 30px;
    width: auto;
    min-width: 100px;
    border:none;
    justify-content: center;
    border-radius: 10px;
    color: black;
    font-weight: bold;
}